[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
startlocaldb = "mongod --dbpath=./db"

[dev-packages]

[packages]
django = "*"
djongo = "*"
djangorestframework = "*"
dnspython = "*"
sympy = "*"

[requires]
python_version = "3.8"
